# Opearators

https://docs.python.org/3/library/stdtypes.html

## Arithmetic Operators

In [1]:
print(3 + 5)    # Plus
print(3 + 5.0)
print(50 - 24)  # Minus
print(-5.2)
print(2 * 3)    # Multiply
print(2.0 * 3)
print(3 ** 4)   # Power
print(15 / 3)   # Float division
print(15 // 3)  # Integer division -> int
print(3.5 // 2) # Integer division -> float
print(13 % 3)   # Modulo
print(-25.5 % 2.25)

8
8.0
26
-5.2
6
6.0
81
5.0
5
1.0
1
1.5

## Bitwise operators

In [7]:
print(2 << 2)   # Left Shift
print(11 >> 1)  # Right Shift
print(5 & 3)    # Bitwise AND
print(5 | 3)    # Bitwise OR
print(5 ^ 3)    # Bitwise XOR
print(~ 5)      # Bitwise Invert  --> -(x+1) but, unlimited length integers

8
5
1
7
6
-6

## Comparison Operators

In [ ]:
print(5 < 3)      # Less Than
print(3 < 5)      # Greater Than
print(3 < 5 < 7)  # Chaining comparison operators
print(5 > 3)      # Greater Than

False
True
True
True

In [ ]:
x = 3
y = 6
x <= y    # Less Than or Equal To

True

In [ ]:
x = 4
y = 3
x >= y    # Greater Than or Equal To

True

In [ ]:
print(2 == 2)    # Equal To
print('str' == 'stR')
print('str' == 'str')

True
False
True

In [ ]:
2 != 3     # Not Equal To

True

## Logical Operators

In [ ]:
x = True
not x      # Boolean Not

False

In [ ]:
x = False
y = True
x and y   # Boolean AND

False

In [ ]:
x = False
y = True
x or y    # Boolean OR

True

In [ ]:
l = 10
m = 5
n = 0
(n !=0) and (1 == (m/n))

False

## Membership Operators

In [ ]:
print(3 in [1, 2, 3])
print(2 in [1])

True
False

## String methods

In [ ]:
str1 = 'hello'
print(str1.isdigit())
print(str1.isalpha())
print(str1.isalnum())
print(str1.islower())
print(str1.isupper())
print(str1.isspace())

False
True
True
True
False
False

## Assignment Operators

In [ ]:
a = 2
a = a + 3
a

5

In [ ]:
a = 2
a += 3
a

5

## Precedence and Order of Evaluation

https://docs.python.org/3/reference/expressions.html#operator-precedence

* It is better to use parentheses to group operators and operands
appropriately in order to explicitly specify the precedence

* Operators are usually associated from left to right

* Some operators like assignment operators have right to left associativity

## Expressions

* An expression is a combination of values, variables, and operators

In [ ]:
print(17)        # values
x = 7
print(x)        # variables
print(x + 17)   # operators

17
7
24

## Statements

https://docs.python.org/3/reference/simple_stmts.html#simple-statements

https://docs.python.org/3/reference/compound_stmts.html

* A statement is a unit of code that the Python interpreter can execute

* We have seen two kinds of statement: print and assignment

* Technically an expression is also a statement

* The important difference is that an expression has a value;
a statement does not

In [ ]:
length = 5
breadth = 2

area = length * breadth

print('Area is', area)
print('Perimeter is', 2 * (length + breadth))

Area is 10
Perimeter is 14

# Lab

1. Write a program that takes a number from the user and determines whether it's even or odd.

	output: odd or even

2. Write a program that takes three numbers from the user and determines the largest of the three.


3. Write a program that reads an integer as input and determines if it is a multiple of both 3 and 5.

	output: multiple or not multiple


4. Write a Python program that takes three numbers as input and determines whether they form a Pythagorean triple.

	output: pythagorean or not pythagorean

5. Write a Python program that takes a user's weight and height as input and calculates their body mass index (BMI).

	output: BMI < 18.5 : underweight, 18.5 <= BMI < 24.9 normal weight, 25.0 <= BMI overweight

6. Write a Python program that takes two strings as input and determines whether they are anagrams. If the two strings are anagrams (i.e., they have the same letters in a different order)

  output: anagrams or not anagrams

In [ ]:
# bored = robed

# Control Flow

## if-else

In [ ]:
number = 23
guess = int(input('Enter an integer: '))

if guess == number:
  print('Congratulations, you guessed it.')
  print('(but you do not win any prizes!)')
else:
  if guess < number:
    print('No, it is a little higher than that')
  else:
    print('No, it is a little lower than that')

print('Done')

## equivalent to that of the previous example

In [ ]:
number = 23
guess = int(input('Enter an integer: '))

if guess == number:
  print('Congratulations, you guessed it.')
  print('(but you do not win any prizes!)')
elif guess < number:
  print('No, it is a little higher than that')
else:
  print('No, it is a little lower than that')

print('Done')

## Find the largest of three numbers

In [ ]:
firstNumber = eval(input('Enter the first number: '))
secondNumber = eval(input('Enter the second number: '))
thirdNumber = eval(input('Enter the third number: '))

largest = firstNumber
if secondNumber > largest:
  largest = secondNumber
if thirdNumber > largest:
  largest = thirdNumber

#print('The largest number is', str(largest) + '.')
print('The largest number is', largest, '.')

## while

In [ ]:
number = 23
running = True

while running:
  guess = int(input('Enter an integer: '))
  if guess == number:
    print('Congratulations, you guessed it.')
    running = False
  elif guess < number:
    print('No, it is a little higher than that.')
  else:
    print('No, it is a little lower than that.')
else:
  print('The while loop is over.')
print('Done')

## Find the minimum, maximum, and average

In [ ]:
count = 0
total = 0

print('(Enter -1 to terminate entering numbers.)')
num = int(input('Enter a nonnegative integer: '))
min_val = num
max_val = num

while num != -1:
  count += 1
  total += num
  if num < min_val:
    min_val = num
  if num > max_val:
    max_val = num
  num = int(input('Enter a nonnegative integer: '))

if count > 0:
  print('Minimum:', min_val)
  print('Maximum:', max_val)
  print('Average:', total / count)
else:
  print('No nonnegative integers were entered.')

## for

In [ ]:
for i in range(1, 5):
  print(i)
else:
  print('The for loop is over')

## Nested for loops

In [ ]:
numberOfRows = int(input('Enter a number from 1 to 20: '))

for i in range(numberOfRows):
  for j in range(i + 1):
    print('*', end='')
  print()

## Looping through the characters of a string

In [ ]:
word = input('Enter a word: ')
reversedWord = ''

for ch in word:
  reversedWord = ch + reversedWord

#print('The reversed word is ' + reversedWord + '.')
print(f'The reversed word is {reversedWord}.')

## Looping through the lines of a text file

### Prerequisite

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)
!cat /content/gdrive/MyDrive/USPresidents.txt

In [ ]:
filename = '/content/gdrive/MyDrive/USPresidents.txt'

firstName = input('Enter a first name: ')
foundFlag = False
infile = open(filename, 'r')
for line in infile:
  if line.startswith(firstName + ' '):
    print(line.rstrip())
    foundFlag = True
infile.close()
if not foundFlag:
  print(f'No president had the first name {firstName}.')

## pass

In [ ]:
filename = '/content/gdrive/MyDrive/USPresidents.txt'

infile = open(filename, 'r')
for line in infile:
  pass
print(line.rstrip())
infile.close()

## break

In [ ]:
print('Enter QUIT to terminate entering something')
while True:
  s = input('Enter something: ')
  if s == 'QUIT':
    break
  print('Length of the string is', len(s))
print('Done')

## continue

In [ ]:
while True:
  s = input('Enter something: ')
  if s == 'quit':
    break
  if len(s) < 3:
    print('Too short')
    continue
  print('Input is of sufficient length')

# Lab

1. Write a program to find the sum of all numbers between 1 and 100 that are divisible by 7 using a while loop.

In [ ]:
arr = [i for i in range(1, 101) if not i%7]

2. Write a program that prints the multiplication table for a given number using a for loop.

3. Write a program that reads a positive integer and checks if it's a prime number using a for loop.

4. Write a program that reads a string and reverses it using a loop. The program should also count and display the number of vowels in the string.

5. Write a program that prints the following patterns using loops:

```
*****
 ****
  ***
   **
    *
```

6. Write a Python program to find all the duplicate elements in a given list of integers.

In [ ]:
nums = [1, 2, 3, 4, 5, 2, 3, 6, 7, 8, 6]

[2, 3, 6]

7. Write a Python program to print the first n rows of <a href="https://en.wikipedia.org/wiki/Pascal%27s_triangle">Pascal's Triangle</a>.


```
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1
```

8. Given a DNA string comprised of the characters 'A', 'C', 'G', and 'T', find all starting indices of a given substring within the DNA string. Additionally, allow for up to k mismatches in the substring.

Input:

* dna = "ACGTACGTGACG",
* sub = "GTA",
* k = 1

Output: [2, 6]