## List

A list is an ordered sequence of Python objects of any type

* The objects do not have to all be the same type

In [11]:
team = ['Seahawks', 2014, 'CenturyLink Field']
nums = [5, 10, 4, 5]
words = ['spam', 'ni']

In [12]:
words[1] = 'eggs'
words

['spam', 'eggs']

## Objects and Classes

In [13]:
i = 5
type(i)

int

In [2]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [14]:
sum += num
len = 3
min
max
filter
str

NameError: name 'num' is not defined

In [15]:
team.append('new member')
team

['Seahawks', 2014, 'CenturyLink Field', 'new member']

In [16]:
a = [3, 2, 4, 1]
a.sort()
a

[1, 2, 3, 4]

In [17]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
print('I have {0} items to purchase.'.format(len(shoplist)))

I have 4 items to purchase.

In [18]:
print('These items are: ', end='')
for item in shoplist:
  print(item, end=' ')

These items are: apple mango carrot banana

In [19]:
print('\nI also have to buy rice.')
shoplist.append('rice')
print('My list is now', shoplist)

I also have to buy rice.
My list is now ['apple', 'mango', 'carrot', 'banana', 'rice']

In [20]:
print('I will sort my shopping list now')
shoplist.sort()
print('Sorted list is', shoplist)
sorted

I will sort my shopping list now
Sorted list is ['apple', 'banana', 'carrot', 'mango', 'rice']

In [21]:
print('The first item I will buy is', shoplist[0])
olditem = shoplist[0]
del shoplist[0]
print('I bought the', olditem)
print('My shopping list is now', shoplist)

The first item I will buy is apple
I bought the apple
My shopping list is now ['banana', 'carrot', 'mango', 'rice']

In [25]:
team = ['Seahawks', 2014, 'CenturyLink Field']
nums = [5, 10, 4, 5]
words = ['spam', 'ni']
print(max(nums), min(nums), sum(nums))
print(nums.count(5), nums.index(4))

10 4 24
2 2

In [26]:
words.reverse()
words

['ni', 'spam']

In [27]:
nums.append(7)
nums

[5, 10, 4, 5, 7]

In [28]:
nums.extend([1,2])
nums

[5, 10, 4, 5, 7, 1, 2]

In [29]:
nums.remove(5)
nums

[10, 4, 5, 7, 1, 2]

In [30]:
del nums[1:3]
nums

[10, 7, 1, 2]

In [31]:
words.insert(1,'wink')
words

['ni', 'wink', 'spam']

In [32]:
['a',1] + [2,'b']

['a', 1, 2, 'b']

In [33]:
[0] * 3

[0, 0, 0]

In [34]:
'a,b,c'.split(',')

['a', 'b', 'c']

In [35]:
'a**b**c'.split('**')

['a', 'b', 'c']

In [36]:
'a**b**c'.split('*')

['a', '', 'b', '', 'c']

In [37]:
'a\nb\nc'.split()

['a', 'b', 'c']

In [38]:
'a b c'.split()

['a', 'b', 'c']

In [39]:
'a b c'.split(',')

['a b c']

In [40]:
line = ['To', 'be', 'or', 'not', 'to', 'be.']
string = ' '.join(line)
string

'To be or not to be.'

In [41]:
krispies = ['Snap', 'Crackle', 'Pop']
print(', '.join(krispies))

Snap, Crackle, Pop

# Lab



## 1. Write your code according to the following instructions:

* Create a list of integers and find the sum of all even numbers.
* Add a new element to the end of the list.
* Remove the first element from the list.
* Sort the list in ascending order.

In [51]:
# Create a list of integers
int_list = list(range(1, 101))
sum(int_list)
int_list.append(101)
print(int_list)
del int_list[0]
print(int_list)
# int_list.sort(reverse = True)
int_list.reverse()
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101]
[101, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

## 2. Write your code according to the following instructions:

* Create a tuple containing names of your three favorite fruits.
* Use tuple unpacking to assign each fruit to a separate variable.
* Create a new tuple by concatenating your favorite fruits with a tuple of your favorite vegetables.

In [53]:
# Create a tuple containing names of your three favorite fruits.
fruits = ("apple", "banana", "orange")
a, b, c = fruits
print(a, b, c)
vegetables = ("cactus", "onion", "carrot")
fruits + vegetables

apple banana orange

('apple', 'banana', 'orange', 'cactus', 'onion', 'carrot')

## 3. Write your code according to the following instructions:

* Create a list of strings and find the longest string.
* Calculate the sum of a range of numbers from 1 to 100.
* Using a list comprehension, create a list containing the squares of the numbers from 1 to 10.

In [58]:
# Create a list of strings
strings = ["chicken", "pizza", "barbeque", "spaghetti", "apple"]
max(strings, key=len)
sum(range(1, 101))
squares = [x**2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 4. Write your code according to the following instructions:

* Create a list of numbers from 1 to 50.
* Filter out all the numbers that are divisible by 3 and store them in a new list.
* Calculate the sum of the remaining numbers in the original list.
* Reverse the order of the elements in the original list.

In [64]:
# Create a list of numbers from 1 to 50
numbers = list(range(1, 51))
divisible_by_3 = [n for n in range(1, 51) if n%3 == 0]
remaining = [n for n in numbers if n not in divisible_by_3]
sum(remaining)
numbers.reverse()
print(numbers)

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [66]:
not_divisible_by_3 = lambda x : x%3 != 0
remaining = filter(not_divisible_by_3, range(1, 51))
remaining

## 5. Write your code according to the following instructions:

* Create a string containing a sentence.
* Reverse the order of the words in the sentence.
* Convert the sentence to uppercase.
* Replace a word in the sentence with another word.

In [80]:
# Create a string containing a sentence.
sentence = "This is so delicious"
reversed_sentence = ' '.join(sentence.split()[::-1])
# reversed_sentence
# sentence.upper()
sentence.replace("so", "too")

'This is too delicious'

## 6. Palindrome Check

A palindrome is a word, phrase, number, or other sequences of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization. Write a function that checks if a given string is a palindrome.

In [81]:
def is_palindrome(s: str):
  # Implement your code
  # Return true if s is palladium, false otherwise.
  return s == s[::-1]  

input_strings = ['racecar', 'hello', 'madam', 'python', 'level', 'world']

for s in input_strings:
  print(is_palindrome(s))

True
False
True
False
True
False

# Tuple

* Tuples, like lists, are ordered sequences of items but are immutable

In [ ]:
zoo = ('python', 'elephant', 'penguin')
print('Number of animals in the zoo is', len(zoo))

Number of animals in the zoo is 3

In [ ]:
new_zoo = 'monkey', 'camel', zoo
print('All animals in new zoo are', new_zoo)
print('Number of cages in the new zoo is', len(new_zoo))
print('Animals brought from old zoo are', new_zoo[2])
print('Last animal brought from old zoo is', new_zoo[2][2])
print('Number of animals in the new zoo is', len(new_zoo) - 1 + len(new_zoo[2]))

All animals in new zoo are ('monkey', 'camel', ('python', 'elephant', 'penguin'))
Number of cages in the new zoo is 3
Animals brought from old zoo are ('python', 'elephant', 'penguin')
Last animal brought from old zoo is penguin
Number of animals in the new zoo is 5

In [ ]:
x = 5
y = 6
x, y = y, x
print(x, y)

6 5

# Sequence

Major features of sequences (i.e., strings, lists, and tuples):

* Membership test
* Indexing operation
* Slicing operation: retrieves a part of the sequence

In [82]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
name = 'swaroop'

# Indexing or 'Subscription' operation #
print('Item 3 is', shoplist[3])
print('Item -1 is', shoplist[-1])
print('Item -2 is', shoplist[-2])
print('Character 0 is', name[0])

# Slicing on a list #
print('Item 1 to 3 is', shoplist[1:3])
print('Item 2 to end is', shoplist[2:])
print('Item 1 to -1 is', shoplist[1:-1])
print('Item start to end is', shoplist[:])

# Slicing on a string #
print('characters 1 to 3 is', name[1:3])
print('characters 2 to end is', name[2:])
print('characters 1 to -1 is', name[1:-1])
print('characters start to end is', name[:])

Item 3 is banana
Item -1 is banana
Item -2 is carrot
Character 0 is s
Item 1 to 3 is ['mango', 'carrot']
Item 2 to end is ['carrot', 'banana']
Item 1 to -1 is ['mango', 'carrot']
Item start to end is ['apple', 'mango', 'carrot', 'banana']
characters 1 to 3 is wa
characters 2 to end is aroop
characters 1 to -1 is waroo
characters start to end is swaroop

In [ ]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist[::1]

['apple', 'mango', 'carrot', 'banana']

In [ ]:
shoplist[::2]

['apple', 'carrot']

In [ ]:
shoplist[::3]

['apple', 'banana']

In [ ]:
shoplist[::-1]

['banana', 'carrot', 'mango', 'apple']

In [ ]:
shoplist[::-2]

['banana', 'mango']

In [ ]:
shoplist[::]

['apple', 'mango', 'carrot', 'banana']

In [ ]:
regions = [('Northeast', 55.3), ('Midwest', 66.9), ('South', 114.6), ('West', 71.9)]
print('The 2010 population of the', regions[1][0], 'was', regions[1][1], 'million.')
totalPop = regions[0][1] + regions[1][1] + regions[2][1] + regions[3][1]
print('Total 2010 population of the U.S: {0:.1f} million.'.format(totalPop))

The 2010 population of the Midwest was 66.9 million.
Total 2010 population of the U.S: 308.7 million.

In [ ]:
list(('a', 'b'))
list("Python")
"Python".split()
"P y t h o n".split(' ')
"P y t h o n".split()

['P', 'y', 't', 'h', 'o', 'n']

# References

When a mutable object is assigned to a variable, the variable name
just points to the memory where the object is stored

In [ ]:
print('Simple Assignment')
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist

Simple Assignment

['apple', 'mango', 'carrot', 'banana']

In [ ]:
# mylist is just another name pointing to the same object!
mylist = shoplist
# I purchased the first item, so I remove it from the list
del mylist[0]
print('shoplist is', shoplist)
print('mylist is', mylist)

shoplist is ['mango', 'carrot', 'banana']
mylist is ['mango', 'carrot', 'banana']

In [ ]:
# Notice that both shoplist and mylist print the same list
# without the 'apple' confirming that they point to the same object
print('Copy by making a full slice')
# Make a copy by using a full slice
mylist = shoplist[:]
# Remove first item
del mylist[0]
print('shoplist is', shoplist)
print('mylist is', mylist)
# Notice that now the two lists are different

Copy by making a full slice
shoplist is ['mango', 'carrot', 'banana']
mylist is ['carrot', 'banana']

Slicing operation should be used to make a copy of a sequence

- If you just assign the variable name to another name, both of
them will refer to the same object

In [ ]:
x = [1, 2, 3, 4]
y = x
y

[1, 2, 3, 4]

In [ ]:
z = x[:]
x.append(5)
y

[1, 2, 3, 4, 5]

In [ ]:
z

[1, 2, 3, 4]

In [ ]:
w = y.copy()
w

[1, 2, 3, 4, 5]

In [ ]:
del y[0]

In [ ]:
print(x, y, w, sep='\n')

[2, 3, 4, 5]
[2, 3, 4, 5]
[1, 2, 3, 4, 5]

# More about Strings

The strings are objects of the class str

* The next example shows more string methods that are useful

* For a complete list of such methods, see help(str)

In [83]:
# This is a string object
name = 'Swaroop'
if name.startswith('Swa'):
  print('Yes, the string starts with "Swa"')

Yes, the string starts with "Swa"

In [ ]:
if 'a' in name:
  print('Yes, it contains the character "a"')

Yes, it contains the character "a"

In [ ]:
if name.find('war') != -1:
  print('Yes, it contains the string "war"')

Yes, it contains the string "war"

In [ ]:
delimiter = '_*_'
mylist = ['Brazil', 'Russia', 'India', 'China']
print(delimiter.join(mylist))

Brazil_*_Russia_*_India_*_China

# Lab


## 1. Write your code according to the following instructions:

* Create two lists, a and b, where b is a shallow copy of a.
* Modify an element in a and observe the effect on b.
* Repeat the process using a deep copy instead of a shallow copy.

In [86]:
import copy
# Create a list with variable name a
a = [1, 2, 3, 4, 5]
b = a
c = a.copy()
a.append(6)
c

[1, 2, 3, 4, 5]

## 2. Write your code according to the following instructions:

* Create a tuple containing 5 numbers.
* Calculate the minimum, maximum, and average of the numbers in the tuple.
* Create a new tuple by appending the calculated minimum, maximum, and average to the original tuple.
* Use tuple unpacking to store the first three elements of the new tuple in separate variables.

In [1]:
# Create a tuple containing 5 numbers
numbers = (1, 2, 3, 4, 5)
print(min(numbers), max(numbers), sum(numbers)/len(numbers))
new_tuple = numbers + (min(numbers), max(numbers), sum(numbers)/len(numbers))
a, b, c = new_tuple[:3]
print(a, b, c)

1 5 3.0
1 2 3

In [ ]:
# Given a list of strings
strings = ["apple", "banana", "pineapple", "blueberry", "kiwi"]

## 3. Write your code according to the following instructions:

* Write a function that takes a string as input and returns the string with all vowels removed.
* Create a list of strings and use the function to filter the vowels from each string.
* Sort the filtered strings based on the number of consonants.
* Write a function that takes a string as input and returns the string with words in reverse order. Use this function on each string in the list of filtered strings.

In [95]:
def remove_vowels(s):
  # implement your code
  removed = [x for x in s if x not in "aeiou"]
  return ''.join(removed)
# Create a list of strings
strings = ["apple", "banana", "cherry", "kiwi", "mango", "orange", "strawberry", "avocado", "zucchini", "grape", "blueberry"]

for s in strings:
  print(remove_vowels(s))

ppl
bnn
chrry
kw
mng
rng
strwbrry
vcd
zcchn
grp
blbrry

In [102]:
filtered_strings = [remove_vowels(s) for s in strings]
filtered_strings.sort(key=len)
# filtered_strings
def reverse_order(s):
  return s[::-1]
for s in filtered_strings:
  print(reverse_order(s))

wk
lpp
nnb
gnm
gnr
dcv
prg
yrrhc
nhccz
yrrblb
yrrbwrts

## 4. Two Sum

Given a list of integers and a target integer, find two integers in the list that sum up to the target. Return their indices as a tuple. Assume there is exactly one solution and you may not use the same element twice.


```
# input data 1
numbers = [3, 2, 4]
target = 6

# output data 1
(1, 2)

# input data 2
numbers = [8, 5, 6, 1, 2, 9]
target = 9

# output data 2
(0, 3)

# input data 3
numbers = [1, 3, 6, 9, 2, 4, 8]
target = 14

# output data 3
(2, 6)
```

In [4]:
def two_sum(nums, target):
    # Implement your code
    # Return two integers in the list that sum up to the target
  # seen = {}
  # for i, num in enumerate(nums):
  #   d = target - num
  #   if d in seen:
  #     return (seen[d], i)
  #   seen[num] = i
  # return None
  for num in nums:
    if target - num in nums and num != target/2:
      return (nums.index(num), nums.index(target-num))
    

input_data = [([3, 2, 4], 6), ([8, 5, 6, 1, 2, 9], 9), ([1, 3, 6, 9, 2, 4, 8], 14)]
output_data = [(1, 2), (0, 3), (2, 6)]

for (i, t), o in zip(input_data, output_data):
  assert(two_sum(i, t) == o)

In [105]:
a = [1, 2, 3]
a.index(3)

2

## 5. Write your code according to the following instructions:

* Given a list of strings, sort them based on their length.
* Create a new list containing the first three characters of each string in the sorted list.
* Combine the list of strings and the new list into a dictionary where the keys are the original strings and the values are their respective first three characters.
* Print the dictionary in alphabetical order by key.

In [111]:
# Given a list of strings
strings = ["apple", "banana", "pineapple", "blueberry", "kiwi"]
strings.sort(key=len)

new_list = [string[:3] for string in strings]
dictionary = dict()

for key, value in zip(strings, new_list):
  dictionary[key] = value
dictionary

{'kiwi': 'kiw',
 'apple': 'app',
 'banana': 'ban',
 'pineapple': 'pin',
 'blueberry': 'blu'}