# Pandas

## 0. Prerequisite

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
!cat /content/gdrive/MyDrive/UN.txt

## 1. Data Import

In [5]:
import pandas as pd

# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
fileName = 'AIP_05_Data Processing and File Access_data/UN.txt'
df = pd.read_csv(fileName, header=None, names=['Country', 'Continent', 'Population', 'Area'])
df.head()

       Country Continent  Population      Area
0  Afghanistan      Asia      31.800  251772.0
1      Albania    Europe       3.000   11100.0
2      Algeria    Africa      38.300  919595.0
3      Andorra    Europe       0.085     181.0
4       Angola    Africa      19.100  481354.0

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
lst = pd.read_html('https://docs.python.org/3/library/operator.html')
for df in lst:
  print(df.head())

df = lst[0]
df.head()

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [ ]:
!pip install SQLAlchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.9/dist-packages (2.0.9)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from SQLAlchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from SQLAlchemy) (4.5.0)

In [ ]:
import sqlalchemy

url = 'YOUR MYSQL URL'
engine = sqlalchemy.create_engine(url)

from sqlalchemy.sql import text
sql = '''
    SELECT * FROM titanic;
'''
with engine.connect() as conn:
    query = conn.execute(text(sql))
df = pd.DataFrame(query.fetchall())
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""""""",female,0,1,2,W./C. 6607,23.4500,,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,,Q

## 2. Data Export

In [8]:
lst = pd.read_html('https://docs.python.org/3/library/operator.html')
df = lst[0]
df.to_csv('/content/gdrive/MyDrive/Python_Operator.csv')

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [ ]:
!cat /content/gdrive/MyDrive/Python_Operator.csv

,Operation,Syntax,Function
0,Addition,a + b,"add(a, b)"
1,Concatenation,seq1 + seq2,"concat(seq1, seq2)"
2,Containment Test,obj in seq,"contains(seq, obj)"
3,Division,a / b,"truediv(a, b)"
4,Division,a // b,"floordiv(a, b)"
5,Bitwise And,a & b,"and_(a, b)"
6,Bitwise Exclusive Or,a ^ b,"xor(a, b)"
7,Bitwise Inversion,~ a,invert(a)
8,Bitwise Or,a | b,"or_(a, b)"
9,Exponentiation,a ** b,"pow(a, b)"
10,Identity,a is b,"is_(a, b)"
11,Identity,a is not b,"is_not(a, b)"
12,Indexed Assignment,obj[k] = v,"setitem(obj, k, v)"
13,Indexed Deletion,del obj[k],"delitem(obj, k)"
14,Indexing,obj[k],"getitem(obj, k)"
15,Left Shift,a << b,"lshift(a, b)"
16,Modulo,a % b,"mod(a, b)"
17,Multiplication,a * b,"mul(a, b)"
18,Matrix Multiplication,a @ b,"matmul(a, b)"
19,Negation (Arithmetic),- a,neg(a)
20,Negation (Logical),not a,not_(a)
21,Positive,+ a,pos(a)
22,Right Shift,a >> b,"rshift(a, b)"
23,Slice Assignment,seq[i:j] = values,"setitem(seq, slice(i, j), values)"
24,Slice Deletion,del seq[i:j],"delitem(seq, slice(i, j))"
25,Slicing,seq[i:j],"getitem(seq, slice(i, j))"
26,String Formatting,s % obj,"mod(s, obj)"
27,Subtraction,a - b,"sub(a, b)"
28,Truth Test,obj,truth(obj)
29,Ordering,a < b,"lt(a, b)"
30,Ordering,a <= b,"le(a, b)"
31,Equality,a == b,"eq(a, b)"
32,Difference,a != b,"ne(a, b)"
33,Ordering,a >= b,"ge(a, b)"
34,Ordering,a > b,"gt(a, b)"

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.head().to_markdown('/content/gdrive/MyDrive/titanic_train.md')

In [ ]:
!cat /content/gdrive/MyDrive/titanic_train.md

|    |   PassengerId |   Survived |   Pclass | Name                                                | Sex    |   Age |   SibSp |   Parch | Ticket           |    Fare | Cabin   | Embarked   |
|---:|--------------:|-----------:|---------:|:----------------------------------------------------|:-------|------:|--------:|--------:|:-----------------|--------:|:--------|:-----------|
|  0 |             1 |          0 |        3 | Braund, Mr. Owen Harris                             | male   |    22 |       1 |       0 | A/5 21171        |  7.25   | nan     | S          |
|  1 |             2 |          1 |        1 | Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female |    38 |       1 |       0 | PC 17599         | 71.2833 | C85     | C          |
|  2 |             3 |          1 |        3 | Heikkinen, Miss. Laina                              | female |    26 |       0 |       0 | STON/O2. 3101282 |  7.925  | nan     | S          |
|  3 |             4 |          1 |        1 | Futrelle, Mrs. Jacques Heath (Lily May Peel)        | female |    35 |       1 |       0 | 113803           | 53.1    | C123    | S          |
|  4 |             5 |          0 |        3 | Allen, Mr. William Henry                            | male   |    35 |       0 |       0 | 373450           |  8.05   | nan     | S          |

## 3. DataFrame Operators

In [11]:
# https://www.kaggle.com/competitions/titanic/data

df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [16]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html

df['Pclass'].mode()

0    3
Name: Pclass, dtype: int64

In [17]:
df.nlargest(3, ['Age'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
lower = df.Age.quantile(0.05)
upper = df.Age.quantile(0.95)
df.Age.clip(lower=lower, upper=upper) # the age cloumn includes missing values

In [ ]:
df.sum(numeric_only=True)

PassengerId    397386.0000
Survived          342.0000
Pclass           2057.0000
Age             21205.1700
SibSp             466.0000
Parch             340.0000
Fare            28693.9493
dtype: float64

In [ ]:
df.sum(numeric_only=True, axis=1)

0       34.2500
1      114.2833
2       40.9250
3       95.1000
4       51.0500
         ...
886    929.0000
887    939.0000
888    918.4500
889    948.0000
890    933.7500
Length: 891, dtype: float64

## 4. Creating DataFrames from/to list, dict, and numpy

In [18]:
lst = [ 1, 2, 3 ]
df = pd.DataFrame(lst, columns=['num'])
df

   num
0    1
1    2
2    3

In [19]:
d = dict = {'a': [1, 2, 3],
        'b': [4, 5, 6]}
df = pd.DataFrame(d)
df

   a  b
0  1  4
1  2  5
2  3  6

In [20]:
import numpy as np
arr = np.array([[1, 2, 3],
         [4, 5, 6]])
df = pd.DataFrame(arr, columns=['num1', 'num2', 'num3'])
df

   num1  num2  num3
0     1     2     3
1     4     5     6

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.to_dict('list')

{'PassengerId': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  253,
  254,
  255,
  256,
  257,
  258,
  259,
  260,
  261,
  262,
  263,
  264,
  265,
  266,
  267,
  268,
  269,
  270,
  271,
  272,
  273,
  274,
  275,
  276,
  277,
  278,
  279,
  280,
  281,
  282,
  283,
  284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326,
  327,
  328,
  329,
  330,
  331,
  332,
  333,
  334,
  335,
  336,
  337,
  338,
  339,
  340,
  341,
  342,
  343,
  344,
  345,
  346,
  347,
  348,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  364,
  365,
  366,
  367,
  368,
  369,
  370,
  371,
  372,
  373,
  374,
  375,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  385,
  386,
  387,
  388,
  389,
  390,
  391,
  392,
  393,
  394,
  395,
  396,
  397,
  398,
  399,
  400,
  401,
  402,
  403,
  404,
  405,
  406,
  407,
  408,
  409,
  410,
  411,
  412,
  413,
  414,
  415,
  416,
  417,
  418,
  419,
  420,
  421,
  422,
  423,
  424,
  425,
  426,
  427,
  428,
  429,
  430,
  431,
  432,
  433,
  434,
  435,
  436,
  437,
  438,
  439,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  458,
  459,
  460,
  461,
  462,
  463,
  464,
  465,
  466,
  467,
  468,
  469,
  470,
  471,
  472,
  473,
  474,
  475,
  476,
  477,
  478,
  479,
  480,
  481,
  482,
  483,
  484,
  485,
  486,
  487,
  488,
  489,
  490,
  491,
  492,
  493,
  494,
  495,
  496,
  497,
  498,
  499,
  500,
  501,
  502,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  521,
  522,
  523,
  524,
  525,
  526,
  527,
  528,
  529,
  530,
  531,
  532,
  533,
  534,
  535,
  536,
  537,
  538,
  539,
  540,
  541,
  542,
  543,
  544,
  545,
  546,
  547,
  548,
  549,
  550,
  551,
  552,
  553,
  554,
  555,
  556,
  557,
  558,
  559,
  560,
  561,
  562,
  563,
  564,
  565,
  566,
  567,
  568,
  569,
  570,
  571,
  572,
  573,
  574,
  575,
  576,
  577,
  578,
  579,
  580,
  581,
  582,
  583,
  584,
  585,
  586,
  587,
  588,
  589,
  590,
  591,
  592,
  593,
  594,
  595,
  596,
  597,
  598,
  599,
  600,
  601,
  602,
  603,
  604,
  605,
  606,
  607,
  608,
  609,
  610,
  611,
  612,
  613,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  632,
  633,
  634,
  635,
  636,
  637,
  638,
  639,
  640,
  641,
  642,
  643,
  644,
  645,
  646,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  655,
  656,
  657,
  658,
  659,
  660,
  661,
  662,
  663,
  664,
  665,
  666,
  667,
  668,
  669,
  670,
  671,
  672,
  673,
  674,
  675,
  676,
  677,
  678,
  679,
  680,
  681,
  682,
  683,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  699,
  700,
  701,
  702,
  703,
  704,
  705,
  706,
  707,
  708,
  709,
  710,
  711,
  712,
  713,
  714,
  715,
  716,
  717,
  718,
  719,
  720,
  721,
  722,
  723,
  724,
  725,
  726,
  727,
  728,
  729,
  730,
  731,
  732,
  733,
  734,
  735,
  736,
  737,
  738,
  739,
  740,
  741,
  742,
  743,
  744,
  745,
  746,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  765,
  766,
  767,
  768,
  769,
  770,
  771,
  772,
  773,
  774,
  775,
  776,
  777,
  778,
  779,
  780,
  781,
  782,
  783,
  784,
  785,
  786,
  787,
  788,
  789,
  790,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  805,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  870,
  871,
  872,
  873,
  874,
  875,
  876,
  877,
  878,
  879,
  880,
  881,
  882,
  883,
  884,
  885,
  886,
  887,
  888,
  889,
  890,
  891],
 'Survived': [0,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  0],
 'Pclass': [3,
  1,
  3,
  1,
  3,
  3,
  1,
  3,
  3,
  2,
  3,
  1,
  3,
  3,
  3,
  2,
  3,
  2,
  3,
  3,
  2,
  2,
  3,
  1,
  3,
  3,
  3,
  1,
  3,
  3,
  1,
  1,
  3,
  2,
  1,
  1,
  3,
  3,
  3,
  3,
  3,
  2,
  3,
  2,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  1,
  2,
  1,
  1,
  2,
  3,
  2,
  3,
  3,
  1,
  1,
  3,
  1,
  3,
  2,
  3,
  3,
  3,
  2,
  3,
  2,
  3,
  3,
  3,
  3,
  3,
  2,
  3,
  3,
  3,
  3,
  1,
  2,
  3,
  3,
  3,
  1,
  3,
  3,
  3,
  1,
  3,
  3,
  3,
  1,
  1,
  2,
  2,
  3,
  3,
  1,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  1,
  3,
  3,
  3,
  3,
  3,
  3,
  2,
  1,
  3,
  2,
  3,
  2,
  2,
  1,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  2,
  2,
  2,
  1,
  1,
  3,
  1,
  3,
  3,
  3,
  3,
  2,
  2,
  3,
  3,
  2,
  2,
  2,
  1,
  3,
  3,
  3,
  1,
  3,
  3,
  3,
  3,
  3,
  2,
  3,
  3,
  3,
  3,
  1,
  3,
  1,
  3,
  1,
  3,
  3,
  3,
  1,
  3,
  3,
  1,
  2,
  3,
  3,
  2,
  3,
  2,
  3,
  1,
  3,
  1,
  3,
  3,
  2,
  2,
  3,
  2,
  1,
  1,
  3,
  3,
  3,
  2,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  1,
  3,
  2,
  3,
  2,
  3,
  1,
  3,
  2,
  1,
  2,
  3,
  2,
  3,
  3,
  1,
  3,
  2,
  3,
  2,
  3,
  1,
  3,
  2,
  3,
  2,
  3,
  2,
  2,
  2,
  2,
  3,
  3,
  2,
  3,
  3,
  1,
  3,
  2,
  1,
  2,
  3,
  3,
  1,
  3,
  3,
  3,
  1,
  1,
  1,
  2,
  3,
  3,
  1,
  1,
  3,
  2,
  3,
  3,
  1,
  1,
  1,
  3,
  2,
  1,
  3,
  1,
  3,
  2,
  3,
  3,
  3,
  3,
  3,
  3,
  1,
  3,
  3,
  3,
  2,
  3,
  1,
  1,
  2,
  3,
  3,
  1,
  3,
  1,
  1,
  1,
  3,
  3,
  3,
  2,
  3,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  2,
  3,
  2,
  3,
  2,
  2,
  1,
  1,
  3,
  3,
  2,
  2,
  3,
  1,
  3,
  2,
  3,
  1,
  3,
  1,
  1,
  3,
  1,
  3,
  1,
  1,
  3,
  1,
  2,
  1,
  2,
  2,
  2,
  2,
  2,
  3,
  3,
  3,
  3,
  1,
  3,
  3,
  3,
  3,
  1,
  2,
  3,
  3,
  3,
  2,
  3,
  3,
  3,
  3,
  1,
  3,
  3,
  1,
  1,
  3,
  3,
  1,
  3,
  1,
  3,
  1,
  3,
  3,
  1,
  3,
  3,
  1,
  3,
  2,
  3,
  2,
  3,
  2,
  1,
  3,
  3,
  1,
  3,
  3,
  3,
  2,
  2,
  2,
  3,
  3,
  3,
  3,
  3,
  2,
  3,
  2,
  3,
  3,
  3,
  3,
  1,
  2,
  3,
  3,
  2,
  2,
  2,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  2,
  2,
  3,
  3,
  1,
  3,
  2,
  3,
  1,
  1,
  3,
  2,
  1,
  2,
  2,
  3,
  3,
  2,
  3,
  1,
  2,
  1,
  3,
  1,
  2,
  3,
  1,
  1,
  3,
  3,
  1,
  1,
  2,
  3,
  1,
  3,
  1,
  2,
  3,
  3,
  2,
  1,
  3,
  3,
  3,
  3,
  2,
  2,
  3,
  1,
  2,
  3,
  3,
  3,
  3,
  2,
  3,
  3,
  1,
  3,
  1,
  1,
  3,
  3,
  3,
  3,
  1,
  1,
  3,
  3,
  1,
  3,
  1,
  3,
  3,
  3,
  3,
  3,
  1,
  1,
  2,
  1,
  3,
  3,
  3,
  3,
  1,
  1,
  3,
  1,
  2,
  3,
  2,
  3,
  1,
  3,
  3,
  1,
  3,
  3,
  2,
  1,
  3,
  2,
  2,
  3,
  3,
  3,
  3,
  2,
  1,
  1,
  3,
  1,
  1,
  3,
  3,
  2,
  1,
  1,
  2,
  2,
  3,
  2,
  1,
  2,
  3,
  3,
  3,
  1,
  1,
  1,
  1,
  3,
  3,
  3,
  2,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  2,
  1,
  1,
  3,
  3,
  3,
  2,
  1,
  3,
  3,
  2,
  1,
  2,
  1,
  3,
  1,
  2,
  1,
  3,
  3,
  3,
  1,
  3,
  3,
  2,
  3,
  2,
  3,
  3,
  1,
  2,
  3,
  1,
  3,
  1,
  3,
  3,
  1,
  2,
  1,
  3,
  3,
  3,
  3,
  3,
  2,
  3,
  3,
  2,
  2,
  3,
  1,
  3,
  3,
  3,
  1,
  2,
  1,
  3,
  3,
  1,
  3,
  1,
  1,
  3,
  2,
  3,
  2,
  3,
  3,
  3,
  1,
  3,
  3,
  3,
  1,
  3,
  1,
  3,
  3,
  3,
  2,
  3,
  3,
  3,
  2,
  3,
  3,
  2,
  1,
  1,
  3,
  1,
  3,
  3,
  2,
  2,
  3,
  3,
  1,
  2,
  1,
  2,
  2,
  2,
  3,
  3,
  3,
  3,
  1,
  3,
  1,
  3,
  3,
  2,
  2,
  3,
  3,
  3,
  1,
  1,
  3,
  3,
  3,
  1,
  2,
  3,
  3,
  1,
  3,
  1,
  1,
  3,
  3,
  3,
  2,
  2,
  1,
  1,
  3,
  1,
  1,
  1,
  3,
  2,
  3,
  1,
  2,
  3,
  3,
  2,
  3,
  2,
  2,
  1,
  3,
  2,
  3,
  2,
  3,
  1,
  3,
  2,
  2,
  2,
  3,
  3,
  1,
  3,
  3,
  1,
  1,
  1,
  3,
  3,
  1,
  3,
  2,
  1,
  3,
  2,
  3,
  3,
  3,
  2,
  2,
  3,
  2,
  3,
  1,
  3,
  3,
  3,
  1,
  3,
  1,
  1,
  3,
  3,
  3,
  3,
  3,
  2,
  3,
  2,
  3,
  3,
  3,
  3,
  1,
  3,
  1,
  1,
  3,
  3,
  3,
  3,
  3,
  3,
  1,
  3,
  2,
  3,
  1,
  3,
  2,
  1,
  3,
  3,
  3,
  2,
  2,
  1,
  3,
  3,
  3,
  1,
  3,
  2,
  1,
  3,
  3,
  2,
  3,
  3,
  1,
  3,
  2,
  3,
  3,
  1,
  3,
  1,
  3,
  3,
  3,
  3,
  2,
  3,
  1,
  3,
  2,
  3,
  3,
  3,
  1,
  3,
  3,
  3,
  1,
  3,
  2,
  1,
  3,
  3,
  3,
  3,
  3,
  2,
  1,
  3,
  3,
  3,
  1,
  2,
  3,
  1,
  1,
  3,
  3,
  3,
  2,
  1,
  3,
  2,
  2,
  2,
  1,
  3,
  3,
  3,
  1,
  1,
  3,
  2,
  3,
  3,
  3,
  3,
  1,
  2,
  3,
  3,
  2,
  3,
  3,
  2,
  1,
  3,
  1,
  3],
 'Name': ['Braund, Mr. Owen Harris',
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'Heikkinen, Miss. Laina',
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'Allen, Mr. William Henry',
  'Moran, Mr. James',
  'McCarthy, Mr. Timothy J',
  'Palsson, Master. Gosta Leonard',
  'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
  'Nasser, Mrs. Nicholas (Adele Achem)',
  'Sandstrom, Miss. Marguerite Rut',
  'Bonnell, Miss. Elizabeth',
  'Saundercock, Mr. William Henry',
  'Andersson, Mr. Anders Johan',
  'Vestrom, Miss. Hulda Amanda Adolfina',
  'Hewlett, Mrs. (Mary D Kingcome) ',
  'Rice, Master. Eugene',
  'Williams, Mr. Charles Eugene',
  'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
  'Masselmani, Mrs. Fatima',
  'Fynney, Mr. Joseph J',
  'Beesley, Mr. Lawrence',
  'McGowan, Miss. Anna "Annie"',
  'Sloper, Mr. William Thompson',
  'Palsson, Miss. Torborg Danira',
  'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
  'Emir, Mr. Farred Chehab',
  'Fortune, Mr. Charles Alexander',
  'O\'Dwyer, Miss. Ellen "Nellie"',
  'Todoroff, Mr. Lalio',
  'Uruchurtu, Don. Manuel E',
  'Spencer, Mrs. William Augustus (Marie Eugenie)',
  'Glynn, Miss. Mary Agatha',
  'Wheadon, Mr. Edward H',
  'Meyer, Mr. Edgar Joseph',
  'Holverson, Mr. Alexander Oskar',
  'Mamee, Mr. Hanna',
  'Cann, Mr. Ernest Charles',
  'Vander Planke, Miss. Augusta Maria',
  'Nicola-Yarred, Miss. Jamila',
  'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
  'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
  'Kraeff, Mr. Theodor',
  'Laroche, Miss. Simonne Marie Anne Andree',
  'Devaney, Miss. Margaret Delia',
  'Rogers, Mr. William John',
  'Lennon, Mr. Denis',
  "O'Driscoll, Miss. Bridget",
  'Samaan, Mr. Youssef',
  'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
  'Panula, Master. Juha Niilo',
  'Nosworthy, Mr. Richard Cater',
  'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
  'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
  'Ostby, Mr. Engelhart Cornelius',
  'Woolner, Mr. Hugh',
  'Rugg, Miss. Emily',
  'Novel, Mr. Mansouer',
  'West, Miss. Constance Mirium',
  'Goodwin, Master. William Frederick',
  'Sirayanian, Mr. Orsen',
  'Icard, Miss. Amelie',
  'Harris, Mr. Henry Birkhardt',
  'Skoog, Master. Harald',
  'Stewart, Mr. Albert A',
  'Moubarek, Master. Gerios',
  'Nye, Mrs. (Elizabeth Ramell)',
  'Crease, Mr. Ernest James',
  'Andersson, Miss. Erna Alexandra',
  'Kink, Mr. Vincenz',
  'Jenkin, Mr. Stephen Curnow',
  'Goodwin, Miss. Lillian Amy',
  'Hood, Mr. Ambrose Jr',
  'Chronopoulos, Mr. Apostolos',
  'Bing, Mr. Lee',
  'Moen, Mr. Sigurd Hansen',
  'Staneff, Mr. Ivan',
  'Moutal, Mr. Rahamin Haim',
  'Caldwell, Master. Alden Gates',
  'Dowdell, Miss. Elizabeth',
  'Waelens, Mr. Achille',
  'Sheerlinck, Mr. Jan Baptist',
  'McDermott, Miss. Brigdet Delia',
  'Carrau, Mr. Francisco M',
  'Ilett, Miss. Bertha',
  'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
  'Ford, Mr. William Neal',
  'Slocovski, Mr. Selman Francis',
  'Fortune, Miss. Mabel Helen',
  'Celotti, Mr. Francesco',
  'Christmann, Mr. Emil',
  'Andreasson, Mr. Paul Edvin',
  'Chaffee, Mr. Herbert Fuller',
  'Dean, Mr. Bertram Frank',
  'Coxon, Mr. Daniel',
  'Shorney, Mr. Charles Joseph',
  'Goldschmidt, Mr. George B',
  'Greenfield, Mr. William Bertram',
  'Doling, Mrs. John T (Ada Julia Bone)',
  'Kantor, Mr. Sinai',
  'Petranec, Miss. Matilda',
  'Petroff, Mr. Pastcho ("Pentcho")',
  'White, Mr. Richard Frasar',
  'Johansson, Mr. Gustaf Joel',
  'Gustafsson, Mr. Anders Vilhelm',
  'Mionoff, Mr. Stoytcho',
  'Salkjelsvik, Miss. Anna Kristine',
  'Moss, Mr. Albert Johan',
  'Rekic, Mr. Tido',
  'Moran, Miss. Bertha',
  'Porter, Mr. Walter Chamberlain',
  'Zabour, Miss. Hileni',
  'Barton, Mr. David John',
  'Jussila, Miss. Katriina',
  'Attalah, Miss. Malake',
  'Pekoniemi, Mr. Edvard',
  'Connors, Mr. Patrick',
  'Turpin, Mr. William John Robert',
  'Baxter, Mr. Quigg Edmond',
  'Andersson, Miss. Ellis Anna Maria',
  'Hickman, Mr. Stanley George',
  'Moore, Mr. Leonard Charles',
  'Nasser, Mr. Nicholas',
  'Webber, Miss. Susan',
  'White, Mr. Percival Wayland',
  'Nicola-Yarred, Master. Elias',
  'McMahon, Mr. Martin',
  'Madsen, Mr. Fridtjof Arne',
  'Peter, Miss. Anna',
  'Ekstrom, Mr. Johan',
  'Drazenoic, Mr. Jozef',
  'Coelho, Mr. Domingos Fernandeo',
  'Robins, Mrs. Alexander A (Grace Charity Laury)',
  'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
  'Sobey, Mr. Samuel James Hayden',
  'Richard, Mr. Emile',
  'Newsom, Miss. Helen Monypeny',
  'Futrelle, Mr. Jacques Heath',
  'Osen, Mr. Olaf Elon',
  'Giglio, Mr. Victor',
  'Boulos, Mrs. Joseph (Sultana)',
  'Nysten, Miss. Anna Sofia',
  'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
  'Burke, Mr. Jeremiah',
  'Andrew, Mr. Edgardo Samuel',
  'Nicholls, Mr. Joseph Charles',
  'Andersson, Mr. August Edvard ("Wennerstrom")',
  'Ford, Miss. Robina Maggie "Ruby"',

In [22]:
df.values

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

In [23]:
df.values.tolist()

[[1,
  0,
  3,
  'Braund, Mr. Owen Harris',
  'male',
  22.0,
  1,
  0,
  'A/5 21171',
  7.25,
  nan,
  'S'],
 [2,
  1,
  1,
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'female',
  38.0,
  1,
  0,
  'PC 17599',
  71.2833,
  'C85',
  'C'],
 [3,
  1,
  3,
  'Heikkinen, Miss. Laina',
  'female',
  26.0,
  0,
  0,
  'STON/O2. 3101282',
  7.925,
  nan,
  'S'],
 [4,
  1,
  1,
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'female',
  35.0,
  1,
  0,
  '113803',
  53.1,
  'C123',
  'S'],
 [5,
  0,
  3,
  'Allen, Mr. William Henry',
  'male',
  35.0,
  0,
  0,
  '373450',
  8.05,
  nan,
  'S'],
 [6, 0, 3, 'Moran, Mr. James', 'male', nan, 0, 0, '330877', 8.4583, nan, 'Q'],
 [7,
  0,
  1,
  'McCarthy, Mr. Timothy J',
  'male',
  54.0,
  0,
  0,
  '17463',
  51.8625,
  'E46',
  'S'],
 [8,
  0,
  3,
  'Palsson, Master. Gosta Leonard',
  'male',
  2.0,
  3,
  1,
  '349909',
  21.075,
  nan,
  'S'],
 [9,
  1,
  3,
  'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
  'female',
  27.0,
  0,
  2,
  '347742',
  11.1333,
  nan,
  'S'],
 [10,
  1,
  2,
  'Nasser, Mrs. Nicholas (Adele Achem)',
  'female',
  14.0,
  1,
  0,
  '237736',
  30.0708,
  nan,
  'C'],
 [11,
  1,
  3,
  'Sandstrom, Miss. Marguerite Rut',
  'female',
  4.0,
  1,
  1,
  'PP 9549',
  16.7,
  'G6',
  'S'],
 [12,
  1,
  1,
  'Bonnell, Miss. Elizabeth',
  'female',
  58.0,
  0,
  0,
  '113783',
  26.55,
  'C103',
  'S'],
 [13,
  0,
  3,
  'Saundercock, Mr. William Henry',
  'male',
  20.0,
  0,
  0,
  'A/5. 2151',
  8.05,
  nan,
  'S'],
 [14,
  0,
  3,
  'Andersson, Mr. Anders Johan',
  'male',
  39.0,
  1,
  5,
  '347082',
  31.275,
  nan,
  'S'],
 [15,
  0,
  3,
  'Vestrom, Miss. Hulda Amanda Adolfina',
  'female',
  14.0,
  0,
  0,
  '350406',
  7.8542,
  nan,
  'S'],
 [16,
  1,
  2,
  'Hewlett, Mrs. (Mary D Kingcome) ',
  'female',
  55.0,
  0,
  0,
  '248706',
  16.0,
  nan,
  'S'],
 [17,
  0,
  3,
  'Rice, Master. Eugene',
  'male',
  2.0,
  4,
  1,
  '382652',
  29.125,
  nan,
  'Q'],
 [18,
  1,
  2,
  'Williams, Mr. Charles Eugene',
  'male',
  nan,
  0,
  0,
  '244373',
  13.0,
  nan,
  'S'],
 [19,
  0,
  3,
  'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
  'female',
  31.0,
  1,
  0,
  '345763',
  18.0,
  nan,
  'S'],
 [20,
  1,
  3,
  'Masselmani, Mrs. Fatima',
  'female',
  nan,
  0,
  0,
  '2649',
  7.225,
  nan,
  'C'],
 [21,
  0,
  2,
  'Fynney, Mr. Joseph J',
  'male',
  35.0,
  0,
  0,
  '239865',
  26.0,
  nan,
  'S'],
 [22,
  1,
  2,
  'Beesley, Mr. Lawrence',
  'male',
  34.0,
  0,
  0,
  '248698',
  13.0,
  'D56',
  'S'],
 [23,
  1,
  3,
  'McGowan, Miss. Anna "Annie"',
  'female',
  15.0,
  0,
  0,
  '330923',
  8.0292,
  nan,
  'Q'],
 [24,
  1,
  1,
  'Sloper, Mr. William Thompson',
  'male',
  28.0,
  0,
  0,
  '113788',
  35.5,
  'A6',
  'S'],
 [25,
  0,
  3,
  'Palsson, Miss. Torborg Danira',
  'female',
  8.0,
  3,
  1,
  '349909',
  21.075,
  nan,
  'S'],
 [26,
  1,
  3,
  'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
  'female',
  38.0,
  1,
  5,
  '347077',
  31.3875,
  nan,
  'S'],
 [27,
  0,
  3,
  'Emir, Mr. Farred Chehab',
  'male',
  nan,
  0,
  0,
  '2631',
  7.225,
  nan,
  'C'],
 [28,
  0,
  1,
  'Fortune, Mr. Charles Alexander',
  'male',
  19.0,
  3,
  2,
  '19950',
  263.0,
  'C23 C25 C27',
  'S'],
 [29,
  1,
  3,
  'O\'Dwyer, Miss. Ellen "Nellie"',
  'female',
  nan,
  0,
  0,
  '330959',
  7.8792,
  nan,
  'Q'],
 [30,
  0,
  3,
  'Todoroff, Mr. Lalio',
  'male',
  nan,
  0,
  0,
  '349216',
  7.8958,
  nan,
  'S'],
 [31,
  0,
  1,
  'Uruchurtu, Don. Manuel E',
  'male',
  40.0,
  0,
  0,
  'PC 17601',
  27.7208,
  nan,
  'C'],
 [32,
  1,
  1,
  'Spencer, Mrs. William Augustus (Marie Eugenie)',
  'female',
  nan,
  1,
  0,
  'PC 17569',
  146.5208,
  'B78',
  'C'],
 [33,
  1,
  3,
  'Glynn, Miss. Mary Agatha',
  'female',
  nan,
  0,
  0,
  '335677',
  7.75,
  nan,
  'Q'],
 [34,
  0,
  2,
  'Wheadon, Mr. Edward H',
  'male',
  66.0,
  0,
  0,
  'C.A. 24579',
  10.5,
  nan,
  'S'],
 [35,
  0,
  1,
  'Meyer, Mr. Edgar Joseph',
  'male',
  28.0,
  1,
  0,
  'PC 17604',
  82.1708,
  nan,
  'C'],
 [36,
  0,
  1,
  'Holverson, Mr. Alexander Oskar',
  'male',
  42.0,
  1,
  0,
  '113789',
  52.0,
  nan,
  'S'],
 [37, 1, 3, 'Mamee, Mr. Hanna', 'male', nan, 0, 0, '2677', 7.2292, nan, 'C'],
 [38,
  0,
  3,
  'Cann, Mr. Ernest Charles',
  'male',
  21.0,
  0,
  0,
  'A./5. 2152',
  8.05,
  nan,
  'S'],
 [39,
  0,
  3,
  'Vander Planke, Miss. Augusta Maria',
  'female',
  18.0,
  2,
  0,
  '345764',
  18.0,
  nan,
  'S'],
 [40,
  1,
  3,
  'Nicola-Yarred, Miss. Jamila',
  'female',
  14.0,
  1,
  0,
  '2651',
  11.2417,
  nan,
  'C'],
 [41,
  0,
  3,
  'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
  'female',
  40.0,
  1,
  0,
  '7546',
  9.475,
  nan,
  'S'],
 [42,
  0,
  2,
  'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
  'female',
  27.0,
  1,
  0,
  '11668',
  21.0,
  nan,
  'S'],
 [43,
  0,
  3,
  'Kraeff, Mr. Theodor',
  'male',
  nan,
  0,
  0,
  '349253',
  7.8958,
  nan,
  'C'],
 [44,
  1,
  2,
  'Laroche, Miss. Simonne Marie Anne Andree',
  'female',
  3.0,
  1,
  2,
  'SC/Paris 2123',
  41.5792,
  nan,
  'C'],
 [45,
  1,
  3,
  'Devaney, Miss. Margaret Delia',
  'female',
  19.0,
  0,
  0,
  '330958',
  7.8792,
  nan,
  'Q'],
 [46,
  0,
  3,
  'Rogers, Mr. William John',
  'male',
  nan,
  0,
  0,
  'S.C./A.4. 23567',
  8.05,
  nan,
  'S'],
 [47, 0, 3, 'Lennon, Mr. Denis', 'male', nan, 1, 0, '370371', 15.5, nan, 'Q'],
 [48,
  1,
  3,
  "O'Driscoll, Miss. Bridget",
  'female',
  nan,
  0,
  0,
  '14311',
  7.75,
  nan,
  'Q'],
 [49,
  0,
  3,
  'Samaan, Mr. Youssef',
  'male',
  nan,
  2,
  0,
  '2662',
  21.6792,
  nan,
  'C'],
 [50,
  0,
  3,
  'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
  'female',
  18.0,
  1,
  0,
  '349237',
  17.8,
  nan,
  'S'],
 [51,
  0,
  3,
  'Panula, Master. Juha Niilo',
  'male',
  7.0,
  4,
  1,
  '3101295',
  39.6875,
  nan,
  'S'],
 [52,
  0,
  3,
  'Nosworthy, Mr. Richard Cater',
  'male',
  21.0,
  0,
  0,
  'A/4. 39886',
  7.8,
  nan,
  'S'],
 [53,
  1,
  1,
  'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
  'female',
  49.0,
  1,
  0,
  'PC 17572',
  76.7292,
  'D33',
  'C'],
 [54,
  1,
  2,
  'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
  'female',
  29.0,
  1,
  0,
  '2926',
  26.0,
  nan,
  'S'],
 [55,
  0,
  1,
  'Ostby, Mr. Engelhart Cornelius',
  'male',
  65.0,
  0,
  1,
  '113509',
  61.9792,
  'B30',
  'C'],
 [56, 1, 1, 'Woolner, Mr. Hugh', 'male', nan, 0, 0, '19947', 35.5, 'C52', 'S'],
 [57,
  1,
  2,
  'Rugg, Miss. Emily',
  'female',
  21.0,
  0,
  0,
  'C.A. 31026',
  10.5,
  nan,
  'S'],
 [58,
  0,
  3,
  'Novel, Mr. Mansouer',
  'male',
  28.5,
  0,
  0,
  '2697',
  7.2292,
  nan,
  'C'],
 [59,
  1,
  2,
  'West, Miss. Constance Mirium',
  'female',
  5.0,
  1,
  2,
  'C.A. 34651',
  27.75,
  nan,
  'S'],
 [60,
  0,
  3,
  'Goodwin, Master. William Frederick',
  'male',
  11.0,
  5,
  2,
  'CA 2144',
  46.9,
  nan,
  'S'],
 [61,
  0,
  3,
  'Sirayanian, Mr. Orsen',
  'male',
  22.0,
  0,
  0,
  '2669',
  7.2292,
  nan,
  'C'],
 [62,
  1,
  1,
  'Icard, Miss. Amelie',
  'female',
  38.0,
  0,
  0,
  '113572',
  80.0,
  'B28',
  nan],
 [63,
  0,
  1,
  'Harris, Mr. Henry Birkhardt',
  'male',
  45.0,
  1,
  0,
  '36973',
  83.475,
  'C83',
  'S'],
 [64,
  0,
  3,
  'Skoog, Master. Harald',
  'male',
  4.0,
  3,
  2,
  '347088',
  27.9,
  nan,
  'S'],
 [65,
  0,
  1,
  'Stewart, Mr. Albert A',
  'male',
  nan,
  0,
  0,
  'PC 17605',
  27.7208,
  nan,
  'C'],
 [66,
  1,
  3,
  'Moubarek, Master. Gerios',
  'male',
  nan,
  1,
  1,
  '2661',
  15.2458,
  nan,
  'C'],
 [67,
  1,
  2,
  'Nye, Mrs. (Elizabeth Ramell)',
  'female',
  29.0,
  0,
  0,
  'C.A. 29395',
  10.5,
  'F33',
  'S'],
 [68,
  0,
  3,
  'Crease, Mr. Ernest James',
  'male',
  19.0,
  0,
  0,
  'S.P. 3464',
  8.1583,
  nan,
  'S'],
 [69,
  1,
  3,
  'Andersson, Miss. Erna Alexandra',
  'female',
  17.0,
  4,
  2,
  '3101281',
  7.925,
  nan,
  'S'],
 [70,
  0,
  3,
  'Kink, Mr. Vincenz',
  'male',
  26.0,
  2,
  0,
  '315151',
  8.6625,
  nan,
  'S'],
 [71,
  0,
  2,
  'Jenkin, Mr. Stephen Curnow',
  'male',
  32.0,
  0,
  0,
  'C.A. 33111',
  10.5,
  nan,
  'S'],
 [72,
  0,
  3,
  'Goodwin, Miss. Lillian Amy',
  'female',
  16.0,
  5,
  2,
  'CA 2144',
  46.9,
  nan,
  'S'],
 [73,
  0,
  2,
  'Hood, Mr. Ambrose Jr',
  'male',
  21.0,
  0,
  0,
  'S.O.C. 14879',
  73.5,
  nan,
  'S'],
 [74,
  0,
  3,
  'Chronopoulos, Mr. Apostolos',
  'male',
  26.0,
  1,
  0,
  '2680',
  14.4542,
  nan,
  'C'],
 [75, 1, 3, 'Bing, Mr. Lee', 'male', 32.0, 0, 0, '1601', 56.4958, nan, 'S'],
 [76,
  0,
  3,
  'Moen, Mr. Sigurd Hansen',
  'male',
  25.0,
  0,
  0,
  '348123',
  7.65,
  'F G73',
  'S'],
 [77,
  0,
  3,
  'Staneff, Mr. Ivan',
  'male',
  nan,
  0,
  0,
  '349208',
  7.8958,
  nan,
  'S'],
 [78,
  0,
  3,
  'Moutal, Mr. Rahamin Haim',
  'male',
  nan,
  0,
  0,
  '374746',
  8.05,
  nan,
  'S'],
 [79,
  1,
  2,
  'Caldwell, Master. Alden Gates',
  'male',
  0.83,
  0,
  2,
  '248738',
  29.0,
  nan,
  'S'],
 [80,
  1,
  3,
  'Dowdell, Miss. Elizabeth',
  'female',
  30.0,
  0,
  0,
  '364516',
  12.475,
  nan,
  'S'],
 [81,
  0,
  3,
  'Waelens, Mr. Achille',
  'male',
  22.0,
  0,
  0,
  '345767',
  9.0,
  nan,
  'S'],
 [82,
  1,
  3,
  'Sheerlinck, Mr. Jan Baptist',
  'male',
  29.0,
  0,
  0,
  '345779',
  9.5,
  nan,
  'S'],
 [83,
  1,
  3,
  'McDermott, Miss. Brigdet Delia',
  'female',
  nan,
  0,
  0,
  '330932',
  7.7875,
  nan,
  'Q'],
 [84,
  0,
  1,
  'Carrau, Mr. Francisco M',
  'male',
  28.0,
  0,
  0,
  '113059',
  47.1,
  nan,
  'S'],
 [85,
  1,
  2,
  'Ilett, Miss. Bertha',
  'female',
  17.0,
  0,
  0,
  'SO/C 14885',
  10.5,
  nan,
  'S'],
 [86,
  1,
  3,
  'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
  'female',
  33.0,
  3,
  0,
  '3101278',
  15.85,
  nan,
  'S'],
 [87,
  0,
  3,
  'Ford, Mr. William Neal',
  'male',
  16.0,
  1,
  3,
  'W./C. 6608',
  34.375,
  nan,
  'S'],
 [88,
  0,
  3,
  'Slocovski, Mr. Selman Francis',
  'male',
  nan,
  0,
  0,
  'SOTON/OQ 392086',
  8.05,
  nan,
  'S'],
 [89,
  1,
  1,
  'Fortune, Miss. Mabel Helen',
  'female',
  23.0,
  3,
  2,
  '19950',
  263.0,
  'C23 C25 C27',
  'S'],
 [90,
  0,
  3,
  'Celotti, Mr. Francesco',
  'male',
  24.0,
  0,
  0,
  '343275',
  8.05,
  nan,
  'S'],
 [91,
  0,
  3,
  'Christmann, Mr. Emil',
  'male',
  29.0,
  0,
  0,
  '343276',
  8.05,
  nan,
  'S'],
 [92,
  0,
  3,
  'Andreasson, Mr. Paul Edvin',
  'male',
  20.0,
  0,
  0,
  '347466',
  7.8542,
  nan,
  'S'],
 [93,
  0,
  1,
  'Chaffee, Mr. Herbert Fuller',
  'male',
  46.0,
  1,
  0,
  'W.E.P. 5734',
  61.175,
  'E31',
  'S'],
 [94,
  0,
  3,
  'Dean, Mr. Bertram Frank',
  'male',
  26.0,
  1,
  2,
  'C.A. 2315',
  20.575,
  nan,
  'S'],
 [95, 0, 3, 'Coxon, Mr. Daniel', 'male', 59.0, 0, 0, '364500', 7.25, nan, 'S'],
 [96,
  0,
  3,
  'Shorney, Mr. Charles Joseph',
  'male',
  nan,
  0,
  0,
  '374910',
  8.05,
  nan,
  'S'],
 [97,
  0,
  1,
  'Goldschmidt, Mr. George B',
  'male',
  71.0,
  0,
  0,
  'PC 17754',
  34.6542,
  'A5',
  'C'],
 [98,
  1,
  1,
  'Greenfield, Mr. William Bertram',
  'male',
  23.0,
  0,
  1,
  'PC 17759',
  63.3583,
  'D10 D12',
  'C'],
 [99,
  1,
  2,
  'Doling, Mrs. John T (Ada Julia Bone)',
  'female',
  34.0,
  0,
  1,
  '231919',
  23.0,
  nan,
  'S'],
 [100,
  0,
  2,
  'Kantor, Mr. Sinai',
  'male',
  34.0,
  1,
  0,
  '244367',
  26.0,
  nan,
  'S'],
 [101,
  0,
  3,
  'Petranec, Miss. Matilda',
  'female',
  28.0,
  0,
  0,
  '349245',
  7.8958,
  nan,
  'S'],
 [102,
  0,
  3,
  'Petroff, Mr. Pastcho ("Pentcho")',
  'male',
  nan,
  0,
  0,
  '349215',
  7.8958,
  nan,
  'S'],
 [103,
  0,
  1,
  'White, Mr. Richard Frasar',
  'male',
  21.0,
  0,
  1,
  '35281',
  77.2875,
  'D26',
  'S'],
 [104,
  0,
  3,
  'Johansson, Mr. Gustaf Joel',
  'male',
  33.0,
  0,
  0,
  '7540',
  8.6542,
  nan,
  'S'],
 [105,
  0,
  3,
  'Gustafsson, Mr. Anders Vilhelm',
  'male',
  37.0,
  2,
  0,
  '3101276',
  7.925,
  nan,
  'S'],
 [106,
  0,
  3,
  'Mionoff, Mr. Stoytcho',
  'male',
  28.0,
  0,
  0,
  '349207',
  7.8958,
  nan,
  'S'],
 [107,
  1,
  3,
  'Salkjelsvik, Miss. Anna Kristine',
  'female',
  21.0,
  0,
  0,
  '343120',
  7.65,
  nan,
  'S'],
 [108,
  1,
  3,
  'Moss, Mr. Albert Johan',
  'male',
  nan,
  0,
  0,
  '312991',
  7.775,
  nan,
  'S'],
 [109,
  0,
  3,
  'Rekic, Mr. Tido',
  'male',
  38.0,
  0,
  0,
  '349249',
  7.8958,
  nan,
  'S'],
 [110,
  1,
  3,
  'Moran, Miss. Bertha',
  'female',
  nan,
  1,
  0,
  '371110',
  24.15,
  nan,
  'Q'],
 [111,
  0,
  1,
  'Porter, Mr. Walter Chamberlain',
  'male',
  47.0,
  0,
  0,
  '110465',
  52.0,
  'C110',
  'S'],
 [112,
  0,
  3,
  'Zabour, Miss. Hileni',
  'female',
  14.5,
  1,
  0,
  '2665',
  14.4542,
  nan,
  'C'],
 [113,
  0,
  3,
  'Barton, Mr. David John',
  'male',
  22.0,
  0,
  0,
  '324669',
  8.05,
  nan,
  'S'],
 [114,
  0,
  3,
  'Jussila, Miss. Katriina',
  'female',
  20.0,
  1,
  0,
  '4136',
  9.825,
  nan,
  'S'],
 [115,
  0,
  3,
  'Attalah, Miss. Malake',
  'female',
  17.0,
  0,
  0,
  '2627',
  14.4583,
  nan,
  'C'],
 [116,
  0,
  3,
  'Pekoniemi, Mr. Edvard',
  'male',
  21.0,
  0,
  0,
  'STON/O 2. 3101294',
  7.925,
  nan,
  'S'],
 [117,
  0,
  3,
  'Connors, Mr. Patrick',
  'male',
  70.5,
  0,
  0,
  '370369',
  7.75,
  nan,
  'Q'],
 [118,
  0,
  2,
  'Turpin, Mr. William John Robert',
  'male',
  29.0,
  1,
  0,
  '11668',
  21.0,
  nan,
  'S'],
 [119,
  0,
  1,
  'Baxter, Mr. Quigg Edmond',
  'male',
  24.0,
  0,
  1,
  'PC 17558',
  247.5208,
  'B58 B60',
  'C'],
 [120,
  0,
  3,
  'Andersson, Miss. Ellis Anna Maria',
  'female',
  2.0,
  4,
  2,
  '347082',
  31.275,
  nan,
  'S'],
 [121,
  0,
  2,
  'Hickman, Mr. Stanley George',
  'male',
  21.0,
  2,
  0,
  'S.O.C. 14879',
  73.5,
  nan,
  'S'],
 [122,
  0,
  3,
  'Moore, Mr. Leonard Charles',
  'male',
  nan,
  0,
  0,
  'A4. 54510',
  8.05,
  nan,
  'S'],
 [123,
  0,
  2,
  'Nasser, Mr. Nicholas',
  'male',
  32.5,
  1,
  0,
  '237736',
  30.0708,
  nan,
  'C'],
 [124,
  1,
  2,
  'Webber, Miss. Susan',
  'female',
  32.5,
  0,
  0,
  '27267',
  13.0,
  'E101',
  'S'],
 [125,
  0,
  1,
  'White, Mr. Percival Wayland',
  'male',
  54.0,
  0,
  1,
  '35281',
  77.2875,
  'D26',
  'S'],
 [126,
  1,
  3,
  'Nicola-Yarred, Master. Elias',
  'male',
  12.0,
  1,
  0,
  '2651',
  11.2417,
  nan,
  'C'],
 [127,
  0,
  3,
  'McMahon, Mr. Martin',
  'male',
  nan,
  0,
  0,
  '370372',
  7.75,
  nan,
  'Q'],
 [128,
  1,
  3,
  'Madsen, Mr. Fridtjof Arne',
  'male',
  24.0,
  0,
  0,
  'C 17369',
  7.1417,
  nan,
  'S'],
 [129,
  1,
  3,
  'Peter, Miss. Anna',
  'female',
  nan,
  1,
  1,
  '2668',
  22.3583,
  'F E69',
  'C'],
 [130,
  0,
  3,
  'Ekstrom, Mr. Johan',
  'male',
  45.0,
  0,
  0,
  '347061',
  6.975,
  nan,
  'S'],
 [131,
  0,
  3,
  'Drazenoic, Mr. Jozef',
  'male',
  33.0,
  0,
  0,
  '349241',
  7.8958,
  nan,
  'C'],
 [132,
  0,
  3,
  'Coelho, Mr. Domingos Fernandeo',
  'male',
  20.0,
  0,
  0,
  'SOTON/O.Q. 3101307',
  7.05,
  nan,
  'S'],
 [133,
  0,
  3,
  'Robins, Mrs. Alexander A (Grace Charity Laury)',
  'female',
  47.0,
  1,
  0,
  'A/5. 3337',
  14.5,
  nan,
  'S'],
 [134,
  1,
  2,
  'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
  'female',
  29.0,
  1,
  0,
  '228414',
  26.0,
  nan,
  'S'],
 [135,
  0,
  2,
  'Sobey, Mr. Samuel James Hayden',
  'male',
  25.0,
  0,
  0,
  'C.A. 29178',
  13.0,
  nan,
  'S'],
 [136,
  0,
  2,
  'Richard, Mr. Emile',
  'male',
  23.0,
  0,
  0,
  'SC/PARIS 2133',
  15.0458,
  nan,
  'C'],
 [137,
  1,
  1,
  'Newsom, Miss. Helen Monypeny',
  'female',
  19.0,
  0,
  2,
  '11752',
  26.2833,
  'D47',
  'S'],
 [138,
  0,
  1,
  'Futrelle, Mr. Jacques Heath',
  'male',
  37.0,
  1,
  0,
  '113803',
  53.1,
  'C123',
  'S'],
 [139,
  0,
  3,
  'Osen, Mr. Olaf Elon',
  'male',
  16.0,
  0,
  0,
  '7534',
  9.2167,
  nan,
  'S'],
 [140,
  0,
  1,
  'Giglio, Mr. Victor',
  'male',
  24.0,
  0,
  0,
  'PC 17593',
  79.2,
  'B86',
  'C'],
 [141,
  0,
  3,
  'Boulos, Mrs. Joseph (Sultana)',
  'female',
  nan,
  0,
  2,
  '2678',
  15.2458,
  nan,
  'C'],
 [142,
  1,
  3,
  'Nysten, Miss. Anna Sofia',
  'female',
  22.0,
  0,
  0,
  '347081',
  7.75,
  nan,
  'S'],
 [143,
  1,
  3,
  'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
  'female',
  24.0,
  1,
  0,
  'STON/O2. 3101279',
  15.85,
  nan,
  'S'],
 [144,
  0,
  3,
  'Burke, Mr. Jeremiah',
  'male',
  19.0,
  0,
  0,
  '365222',
  6.75,
  nan,
  'Q'],
 [145,
  0,
  2,
  'Andrew, Mr. Edgardo Samuel',
  'male',
  18.0,
  0,
  0,
  '231945',
  11.5,
  nan,
  'S'],
 [146,
  0,
  2,
  'Nicholls, Mr. Joseph Charles',
  'male',
  19.0,
  1,
  1,
  'C.A. 33112',
  36.75,
  nan,
  'S'],
 [147,
  1,
  3,
  'Andersson, Mr. August Edvard ("Wennerstrom")',
  'male',
  27.0,
  0,
  0,
  '350043',
  7.7958,
  nan,
  'S'],
 [148,
  0,
  3,
  'Ford, Miss. Robina Maggie "Ruby"',
  'female',
  9.0,
  2,
  2,
  'W./C. 6608',
  34.375,
  nan,
  'S'],
 [149,
  0,
  2,
  'Navratil, Mr. Michel ("Louis M Hoffman")',
  'male',
  36.5,
  0,
  2,
  '230080',
  26.0,
  'F2',
  'S'],
 [150,
  0,
  2,
  'Byles, Rev. Thomas Roussel Davids',
  'male',
  42.0,
  0,
  0,
  '244310',
  13.0,
  nan,
  'S'],
 [151,
  0,
  2,
  'Bateman, Rev. Robert James',
  'male',
  51.0,
  0,
  0,
  'S.O.P. 1166',
  12.525,
  nan,
  'S'],
 [152,
  1,
  1,
  'Pears, Mrs. Thomas (Edith Wearne)',
  'female',
  22.0,
  1,
  0,
  '113776',
  66.6,
  'C2',
  'S'],
 [153,
  0,
  3,
  'Meo, Mr. Alfonzo',
  'male',
  55.5,
  0,
  0,
  'A.5. 11206',
  8.05,
  nan,
  'S'],
 [154,
  0,
  3,
  'van Billiard, Mr. Austin Blyler',
  'male',
  40.5,
  0,
  2,
  'A/5. 851',
  14.5,
  nan,
  'S'],
 [155,
  0,
  3,
  'Olsen, Mr. Ole Martin',
  'male',
  nan,
  0,
  0,
  'Fa 265302',
  7.3125,
  nan,
  'S'],
 [156,
  0,
  1,
  'Williams, Mr. Charles Duane',
  'male',
  51.0,
  0,
  1,
  'PC 17597',
  61.3792,
  nan,
  'C'],
 [157,
  1,
  3,
  'Gilnagh, Miss. Katherine "Katie"',
  'female',
  16.0,
  0,
  0,
  '35851',
  7.7333,
  nan,
  'Q'],
 [158,
  0,
  3,
  'Corn, Mr. Harry',
  'male',
  30.0,
  0,
  0,
  'SOTON/OQ 392090',
  8.05,
  nan,
  'S'],
 [159,
  0,
  3,
  'Smiljanic, Mr. Mile',
  'male',
  nan,
  0,
  0,
  '315037',
  8.6625,
  nan,
  'S'],
 [160,
  0,
  3,
  'Sage, Master. Thomas Henry',
  'male',
  nan,
  8,
  2,
  'CA. 2343',
  69.55,
  nan,
  'S'],
 [161,
  0,
  3,
  'Cribb, Mr. John Hatfield',
  'male',
  44.0,
  0,
  1,
  '371362',
  16.1,
  nan,
  'S'],
 [162,
  1,
  2,
  'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
  'female',
  40.0,
  0,
  0,
  'C.A. 33595',
  15.75,
  nan,
  'S'],
 [163,
  0,
  3,
  'Bengtsson, Mr. John Viktor',
  'male',
  26.0,
  0,
  0,
  '347068',
  7.775,
  nan,
  'S'],
 [164,
  0,
  3,
  'Calic, Mr. Jovo',
  'male',
  17.0,
  0,
  0,
  '315093',
  8.6625,
  nan,
  'S'],
 [165,
  0,
  3,
  'Panula, Master. Eino Viljami',
  'male',
  1.0,
  4,
  1,
  '3101295',
  39.6875,
  nan,
  'S'],
 [166,
  1,
  3,
  'Goldsmith, Master. Frank John William "Frankie"',
  'male',
  9.0,
  0,
  2,
  '363291',
  20.525,
  nan,
  'S'],
 [167,
  1,
  1,
  'Chibnall, Mrs. (Edith Martha Bowerman)',
  'female',
  nan,
  0,
  1,
  '113505',
  55.0,
  'E33',
  'S'],
 [168,
  0,
  3,
  'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
  'female',
  45.0,
  1,
  4,
  '347088',
  27.9,
  nan,
  'S'],
 [169,
  0,
  1,
  'Baumann, Mr. John D',
  'male',
  nan,
  0,
  0,
  'PC 17318',
  25.925,
  nan,
  'S'],
 [170, 0, 3, 'Ling, Mr. Lee', 'male', 28.0, 0, 0, '1601', 56.4958, nan, 'S'],
 [171,
  0,
  1,
  'Van der hoef, Mr. Wyckoff',
  'male',
  61.0,
  0,
  0,
  '111240',
  33.5,
  'B19',
  'S'],
 [172,
  0,
  3,
  'Rice, Master. Arthur',
  'male',
  4.0,
  4,
  1,
  '382652',
  29.125,
  nan,
  'Q'],
 [173,
  1,
  3,
  'Johnson, Miss. Eleanor Ileen',
  'female',
  1.0,
  1,
  1,
  '347742',
  11.1333,
  nan,
  'S'],
 [174,
  0,
  3,
  'Sivola, Mr. Antti Wilhelm',
  'male',
  21.0,
  0,
  0,
  'STON/O 2. 3101280',
  7.925,
  nan,

 ## 5. Inserting and Deleting Rows and Columns

In [24]:
df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
first = lambda x: x[0]
def getFirstName(df):
  return df.Name.str.replace(',','').str.split().apply(first)

df2 = df.copy()
df2['FirstName'] = getFirstName(df)
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen

In [26]:
df3 = df.copy()
df3.insert(3, 'FirstName', getFirstName(df))
df3.head()

,PassengerId,Survived,Pclass,FirstName,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
df3.drop(['FirstName'], axis=1)
df3.head()

,PassengerId,Survived,Pclass,FirstName,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 6. Indexing and Selecting Data

In [ ]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [28]:
df[['Name', 'Pclass']]

                                                  Name  Pclass
0                              Braund, Mr. Owen Harris       3
1    Cumings, Mrs. John Bradley (Florence Briggs Th...       1
2                               Heikkinen, Miss. Laina       3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
4                             Allen, Mr. William Henry       3
..                                                 ...     ...
886                              Montvila, Rev. Juozas       2
887                       Graham, Miss. Margaret Edith       1
888           Johnston, Miss. Catherine Helen "Carrie"       3
889                              Behr, Mr. Karl Howell       1
890                                Dooley, Mr. Patrick       3

[891 rows x 2 columns]

In [30]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
df.iloc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [31]:
df.iloc[:, 3]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [32]:
df.iloc[:10, 3:7]

                                                Name     Sex   Age  SibSp
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

In [33]:
df.loc[0:10, 'Name':'SibSp']

                                                 Name     Sex   Age  SibSp
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

In [ ]:
df['Age']> 25

0      False
1       True
2       True
3       True
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: Age, Length: 891, dtype: bool

In [ ]:
(df['Age']> 25) & (df['Name'].str.contains('Mrs.'))

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [ ]:
# & : element-wise logical and operator
mask = (df['Age']> 25) & (df['Name'].str.contains('Mrs.'))
df[mask]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

In [ ]:
df.query("Age > 25 and Name.str.contains('Mrs')")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

## 7. Series Operations

In [35]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [36]:
df[df['Age'].isin([26, 27, 28])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [ ]:
df['Name'].str.replace(',','').str.split()

0                            [Braund, Mr., Owen, Harris]
1      [Cumings, Mrs., John, Bradley, (Florence, Brig...
2                              [Heikkinen, Miss., Laina]
3      [Futrelle, Mrs., Jacques, Heath, (Lily, May, P...
4                           [Allen, Mr., William, Henry]
                             ...
886                             [Montvila, Rev., Juozas]
887                     [Graham, Miss., Margaret, Edith]
888        [Johnston, Miss., Catherine, Helen, "Carrie"]
889                            [Behr, Mr., Karl, Howell]
890                               [Dooley, Mr., Patrick]
Name: Name, Length: 891, dtype: object

In [ ]:
df[df['Name'].str.contains('Mrs')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

In [37]:
df['Pclass'].memory_usage()

7256

In [ ]:
df['Pclass'].astype('category').cat.codes.memory_usage()

1019

In [ ]:
lower = df['Age'].quantile(0.05)
upper = df['Age'].quantile(0.95)
print(lower, upper)

4.0 56.0

## 8.  Index Operations

 Index objects are ***immutable*** and cannot be modified directly

In [38]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.index

RangeIndex(start=0, stop=891, step=1)

In [39]:
df.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890])

In [40]:
df.reset_index(inplace=False)

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [41]:
df.reset_index(drop=True, inplace=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## 9.  Aggregation Functions

In [42]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.sort_values(['Pclass', 'Name'], ascending=[False, True])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.2500,NaN,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.2500,NaN,S
401,402,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
325,326,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C

In [43]:
# Count non-NA/null values
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [ ]:
df[['Age', 'Fare']].mean()

Age     29.699118
Fare    32.204208
dtype: float64

In [44]:
grouped_df = df.groupby('Pclass')
grouped_df.count()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
1,216,216,216,216,186,216,216,216,216,176,214
2,184,184,184,184,173,184,184,184,184,16,184
3,491,491,491,491,355,491,491,491,491,12,491

In [46]:
grouped_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [45]:
grouped_df.sum()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
1,99705,136,"Cumings, Mrs. John Bradley (Florence Briggs Th...",femalefemalemalefemalemalemalemalefemalemalema...,7111.42,90,77,PC 175991138031746311378311378819950PC 17601PC...,18177.4125,C85C123E46C103A6C23 C25 C27B78D33B30C52B28C83C...,CSSSSSCCCSCCSSCSSSCCSSCSSSCSCSSSCCSSCCCCCSSQSS...
2,82056,87,"Nasser, Mrs. Nicholas (Adele Achem)Hewlett, Mr...",femalefemalemalemalemalemalefemalefemalefemale...,5168.83,74,70,237736248706244373239865248698C.A. 2457911668S...,3801.8417,D56F33E101F2F4F2DE101DF2F33DF33F4E101E77,CSSSSSSCSSSSSSSSSSSSCSSSCSSSSSSSCSSSSSSSSSSSSS...
3,215625,119,"Braund, Mr. Owen HarrisHeikkinen, Miss. LainaA...",malefemalemalemalemalefemalefemalemalemalefema...,8924.92,302,193,A/5 21171STON/O2. 3101282373450330877349909347...,6714.6951,G6F G73F E69G6G6G6E10F G63F G73E121F38E121,SSSQSSSSSSQSCQSSCQSQCSSCSCQSQQCSSSCSCSCSSSSCSS...

In [47]:
grouped_df[['Age', 'Fare']].mean()

              Age       Fare
Pclass
1       38.233441  84.154687
2       29.877630  20.662183
3       25.140620  13.675550

In [48]:
grouped_df.agg({'Fare': 'sum', 'Age': 'mean'})

              Fare        Age
Pclass
1       18177.4125  38.233441
2        3801.8417  29.877630
3        6714.6951  25.140620

In [49]:
grouped_df.sample(n=2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
583,584,0,1,"Ross, Mr. John Hugo",male,36.0,0,0,13049,40.1250,A10,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
655,656,0,2,"Hickman, Mr. Leonard Mark",male,24.0,2,0,S.O.C. 14879,73.5000,NaN,S
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.0,0,0,244361,13.0000,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
388,389,0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q

##  10. Missing Data

In [74]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [75]:
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [76]:
df[df.isna().any(axis=1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [77]:
# ffill: propagate last valid observation forward to next valid.
# backfill / bfill: use next valid observation to fill gap.

df_clean = df.fillna(method='ffill')
#df_clean = df_clean.fillna(method='backfill')
df_clean[df_clean.isna().any(axis=1)]

/var/folders/hk/69w9p44s0sv2qr5qwwgsjm5w0000gn/T/ipykernel_55008/2646404055.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean = df.fillna(method='ffill')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [78]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df_clean.mean()

29.69911764705882

In [ ]:
df_clean2 = df.fillna(df.mean())
df_clean2.mean()

<ipython-input-73-c62473512cf5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_clean2 = df.fillna(df.mean())
<ipython-input-73-c62473512cf5>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_clean2.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

# Lab

## 0. Prerequisite

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
!cat /content/gdrive/MyDrive/UN.txt

## 0

* Create a DataFrame from a CSV file (UN.txt).
* The UN.txt file contains columns: 'Country', 'Continent', 'Population', and 'Area'.

In [52]:
import pandas as pd
filepath = "AIP_05_Data Processing and File Access_data/UN.txt"
df = pd.read_csv(filepath, header=None, names=['Country', 'Continent', 'Population', 'Area'])
df.head()

       Country Continent  Population      Area
0  Afghanistan      Asia      31.800  251772.0
1      Albania    Europe       3.000   11100.0
2      Algeria    Africa      38.300  919595.0
3      Andorra    Europe       0.085     181.0
4       Angola    Africa      19.100  481354.0

## 1
* Given a DataFrame, filter rows in a DataFrame based on a specific area
* Sort the output by area size in descending order

In [55]:
mask = df['Area'] > 100000
df[mask].sort_values(by='Area', ascending=False)

                Country          Continent  Population       Area
140  Russian Federation             Europe       142.5  6592800.0
30               Canada      North America        34.8  3855000.0
184       United States      North America       318.9  3794066.0
35                China               Asia      1355.7  3696100.0
23               Brazil      South America       202.7  3287597.0
..                  ...                ...         ...        ...
81                Italy             Europe        61.7   116346.0
132         Philippines               Asia       107.7   115831.0
26         Burkina Faso             Africa        18.4   105792.0
120         New Zealand  Australia/Oceania         4.4   103738.0
60                Gabon             Africa         1.7   103347.0

[75 rows x 4 columns]

## 2
* Calculate the average population and area of UN member states.

In [56]:
df[['Population', 'Area']].mean()

Population        36.972003
Area          268550.955751
dtype: float64

## 3
* Group the DataFrame by 'Continent' and calculate the average population and area for each continent.

In [58]:
grouped_df = df.groupby('Continent')
grouped_df[['Population', 'Area']].mean()

                   Population           Area
Continent
Africa              20.817074  219275.240741
Asia                90.862553  261842.302128
Australia/Oceania    2.565179  233168.000000
Europe              17.315721  206693.215349
North America       24.140696  378141.347826
South America       33.767500  569456.000000

## 4
* Find the top N countries with the highest one from the given DataFrame.

In [59]:
df.nlargest(5, 'Area')

                Country      Continent  Population       Area
140  Russian Federation         Europe       142.5  6592800.0
30               Canada  North America        34.8  3855000.0
184       United States  North America       318.9  3794066.0
35                China           Asia      1355.7  3696100.0
23               Brazil  South America       202.7  3287597.0

           Country      Continent  Population       Area
35           China           Asia      1355.7  3696100.0
75           India           Asia      1236.3  1269210.0
184  United States  North America       318.9  3794066.0
76       Indonesia           Asia       253.6   735355.0
23          Brazil  South America       202.7  3287597.0

## 5


```python
# read a data
df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.info()
```

* Fill missing values in the given csv  - 'https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv'

* Replace missing values in the 'Age' column with the mean age.
* Replace missing values in the 'Cabin' column with the mode value.
* Replace missing values in the 'Embarked' column with the mode value.

In [120]:
# read a data
df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [122]:
# df_clean3 = df.copy()
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Cabin'].fillna(df['Cabin'].mode()[0], inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [123]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,G6,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S


* Calculate the total fare for each passenger in the given DataFrame.

In [125]:
grouped_df = df.groupby('PassengerId')
grouped_df['Fare'].sum()

PassengerId
1       7.2500
2      71.2833
3       7.9250
4      53.1000
5       8.0500
        ...
887    13.0000
888    30.0000
889    23.4500
890    30.0000
891     7.7500
Name: Fare, Length: 891, dtype: float64